.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore raw datasets 
data/
!data/.gitkeep

# Ignore temporary generated data
gen/temp/

# Allow output files to be committed

gen/output
!gen/output/*.html
!gen/output/*.pdf
!gen/output/.gitkeep

*.html
*.pdf
*.csv

data/*.tsv.gz



