.Rproj.user
.Rhistory
.RData
.Ruserdata
.gitattributes

# Ignore raw datasets 
data/
!data/.gitkeep

# Ignore temporary generated data
gen/temp/

# Allow output 

gen/output
!gen/output/*.html
!gen/output/*.pdf
!gen/output/.gitkeep

*.html
*.pdf
*.csv

data/*.tsv.gz

README_files/*
!README_files/plots/